aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gradio_client==2.3.0
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
indic-transliteration
kurigram==2.2.19
motor
nekosbest
numpy
opencv-python
pillow==12.0.0
psutil
ntgcalls==2.1.0
py-tgcalls==2.2.11
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
git+https://github.com/SkyBotsDeveloper/youtube-search-python.git
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp==2025.10.14
py-yt-search
